body{
	background-image: url("Images/background.jpg");
}
.container{
	
	
}
.main-frame{
	position: relative;
	width: 1200px;
	height: 1000px;
	
	
	margin: 0 30px;

}
.side-bar h1{
color: white;
text-align: center;
}
.side-bar ul{
color: white;
text-decoration: none;
list-style-type: none;
text-align: center;
letter-spacing: 1px;
line-height: 1.5em;
margin: 30px;
}
.active{

 background-color: #c5bbbb;

}
.side-bar button{
	background-color: #e06e1d;

}
.side-bar a{
	text-decoration: none;
	color: white;
}
.side-bar{
	position: relative;
	width: 400px;
	height: 1000px;
	color: white;
	display:inline-block;
	background-color: black;
	opacity: 0.7;
}
.side-bar li{
	color: white;
}
.search-box{
	text-align: center;
}
.right-bar{
	position: relative;
	width: 795px;
	height: 1000px;

	display: inline-block;
	float: right;
}
.fa-facebook{
	background-color: #3B5998;
	color: white;
	width: 25px;
	height: 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	margin: 5px 2px;
	padding-top: 3px;

}
 
  .fa-twitter{
	background-color: #55ACEE;
	color: white;
	width: 25px;
	height: 20px;
	border: none;
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	margin: 5px 2px;
	padding-top: 3px;

}
 .fa-rss{
	background-color: #ff6600;
	color: white;
	width: 25px;
	height: 20px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	margin: 5px 2px;
	padding-top: 3px;

}
.social-media-icons{
	
	padding-top: 7px;
	padding-right: 5px;
	text-align: center;
}
.main .image-box{
	margin: 0 30px;

border: 3px ridge rgba(23, 22 ,22, 0.13);
}
.data h3{
	margin-top: 0px;
	color: #fd9f13;
}
.data button{
	background-color: #fd9f13;
	border-radius: 3px;
}

.data{
	
	color: white;
	margin-top: 25px;
	margin-left: 25px;
}
.data .image-box{
	display: inline-block;
	width: 20%;
}
.data .image-box img {
	display: inline-block;
	width: 100%;

}

.data .intro{
	float: right;
	width: 70%;
    /*margin:20px;*/
}


.data .sightseeing, .data .reservation{
	width: 70%;
	
	display: inline-block;
	float: right;
}
.footer{
	background-color: black;
	height: 25px;
	color: white;
	font-size: 10px;
	text-align: center;
	margin-top: 0px;
	padding-top: 5px;
}
